<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.mappers.messageMapper">

	<insert id="create">
		insert into tbl_message(msg_id, target_id, sender_id, message)
		values (seq_message.nextval, #{target_id}, #{sender_id}, #{message})
	</insert>
	
	<select id="readMessage" resultType="com.ds.domain.MessageVO">
		select * 
		from tbl_message
		where msg_id = #{msg_id}
	</select>
	
	<update id="udpateState">
		update tbl_message set
			opendate = sysdate
		where msg_id = #{msg_id}
	</update>
	
</mapper>